[submodule "rewired-react-app"]
	path = rewired-react-app
	url = https://github.com/cmKangkang/template-rewired-cra.git
[submodule "ejected-react-app"]
	path = ejected-react-app
	url = https://github.com/cmKangkang/template-ejected-cra.git
[submodule "webpack-react-app"]
	path = webpack-react-app
	url = https://github.com/cmKangkang/template-cwa.git
[submodule "ts-html-app"]
	path = ts-html-app
	url = https://github.com/cmKangkang/template-html.git
